:root{
  --purple : #4E46B5;
  --light_purple: #EFE9FF;
  --green: #E9FFDB;
  --gradient: linear-gradient(#C8ECFF, #FFD9DD, #FEEFDB, #EAE0FE);  
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

}

.App {
  background: #F7F6F9 ;
  height: 100vh;
 
  font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
display: flex;

display: grid;
grid-template-columns: 18rem auto ;
overflow: hidden;


}


